

.header-list ul {
  background-color: var(--cor-3);
  display: flex;
  gap: 60px;
  padding: 10px 15px;

}

.header-option {
  display: grid;
  justify-content: center;
  cursor: pointer;
}


.header-option a:hover {
  color: var(--cor-7);
}

@media (max-width:800px) {
  .header-list ul {
     font-size: 15px;
     gap: 30px;
  }
}

@media (max-width:600px) {
  .header-list ul {
     font-size: 10px;
     gap: 15px;
  }
}