.header-listas {
  padding: 30px 30px;
  background-color: var(--cor-5);
}


.header-listas a {
  display: block;
}

.header-listas ul {
  display: flex;
  gap: 20px;
  padding: 0 20px 20px 20px ;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow-x: auto;
  cursor: pointer;

}

.header-listas a:hover {
 color: var(--cor-10);
}


.header-listas li {
  min-width: 280px;
}


.bicicletas-listas ul {
  display: grid;
  align-content: center;
}
