.header-bg {
  background-image: url(../img/restaurante.jpg);
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  align-content: center;
}

.header-bg h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header-bg {
  display: grid;
  justify-content: center;
}

.header-bg p {
 display: grid;
 justify-self: center;
 font-size: 40px;
}

@media (max-width:800px) {
  .header-bg h1{
    font-size: 45px;
  }
  .header-bg p {
    font-size: 30px;
  }
}

@media (max-width:600px) {
  .header-bg h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .header-bg p {
    font-size: 25px;

  }
}